

.hero{
    background-image: url("watch.jpeg");
    

    background-color: #cccccc; /* Used if the image is unavailable */
    height: 90vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    font-family: raleway,sans-serif;

    
}

.hero2{
    background-image: url("watch4.jpg");
    

    background-color: #cccccc; /* Used if the image is unavailable */
    height: 90vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    font-family: raleway,sans-serif;

    

    
}

.hero2-overlay{
    background-color: black;
    opacity: 50%;
    height: 100%;
}

.hero2-overlay div{
    color: white;
    opacity: 100%;
}



.section-text{
    letter-spacing: 8px;
    font-weight: 100;
    font-size: 20px;
}

.section-title{
    font-family: 'Quando', serif;
    font-weight: 600;
    font-size: 50px;

    
    
}

.hero-col{
    height: 90vh;
}

.navbar-brand{

    font-weight: 100;
    font-size: 2rem;
    letter-spacing: 10px;
}

.frontPageImg{
    width: 100%;
}

.right-text{
    text-align: end;
}

.left-text{
    text-align: start;
}

.shop-img{
    width: 200px;
    height: 200px;
    object-fit: cover;

    
    
}

.shop-title{
    letter-spacing: 4px;
    font-weight: 100;
    font-size: 15px;
}

.shop-price{
    /* font-family: 'Quando', serif; */
    font-weight: 600;
    font-size: 12px;
}

h1.light{
    letter-spacing: 10px;
    font-weight: 100;
}
